@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.myApp, .App, body{
margin: 0;
padding: 0;
font-family: "Noto Sans KR", sans-serif;
font-optical-sizing: auto;
text-align: left;
}

.App{
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchCont{
  padding: 3rem;
  display: flex;
  gap: 1rem;

  input{
    width: 500px;
    padding: 1rem;
    border: 0;
    border-bottom: 1px solid #000;
    outline: none;
  }

  button{
    white-space: nowrap;
    width: 5rem;
    padding: 1rem;
    background-color: #000;
    border: 0;
    color: #fff;
  }
}

.resultCont{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .resultItemCont{
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 #ddd;
    padding: 1rem;
    box-sizing: border-box;

    .title{
      width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description{
      color: #777;
    }

    .bottomCont{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nameDate{
        font-size: 0.8rem;
        color: #777;
      }
      a{
        text-decoration: none;
      }
    }
  }
}